# Credit Scoring


[Inspired by rorodata](https://github.com/rorodata/credit-scoring-demo)

In [1]:
import pandas as pd, numpy as np
import datetime

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, LabelBinarizer
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import roc_curve, auc, confusion_matrix
from sklearn.model_selection import GridSearchCV

import sklearn
#from sklearn_pandas import DataFrameMapper

import matplotlib.pyplot as plt
from IPython.display import HTML

In [3]:
try:
  df = pd.read_excel("data/mini-lending-club-data.xlsx")
except:
  url = "https://github.com/anthonyng2/intro_ml_finance/blob/master/data/mini-lending-club-data.xlsx?raw=true"
  df = pd.read_excel(url)

df.head()

        id  member_id  ...  last_record_none  last_major_derog_none
0  1077501    1296599  ...                 1                      1
1  1077175    1313524  ...                 1                      1
2  1076863    1277178  ...                 1                      1
3  1075269    1311441  ...                 1                      1
4  1072053    1288686  ...                 1                      1

[5 rows x 68 columns]

In [4]:
df.head()

        id  member_id  ...  last_record_none  last_major_derog_none
0  1077501    1296599  ...                 1                      1
1  1077175    1313524  ...                 1                      1
2  1076863    1277178  ...                 1                      1
3  1075269    1311441  ...                 1                      1
4  1072053    1288686  ...                 1                      1

[5 rows x 68 columns]

In [5]:
pd.set_option('display.max_colwidth', -1)
display(HTML(df.head().to_html()))
pd.reset_option('display.max_colwidth')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  """Entry point for launching an IPython kernel.

In [6]:
features = ['grade',                     # grade of the loan (categorical)
            'sub_grade_num',             # sub-grade of the loan as a number from 0 to 1
            'short_emp',                 # one year or less of employment
            'emp_length_num',            # number of years of employment
            'home_ownership',            # home_ownership status: own, mortgage or rent
            'dti',                       # debt to income ratio
            'purpose',                   # the purpose of the loan
            'payment_inc_ratio',         # ratio of the monthly payment to income
            'delinq_2yrs',               # number of delinquincies 
            'delinq_2yrs_zero',          # no delinquincies in last 2 years
            'inq_last_6mths',            # number of creditor inquiries in last 6 months
            'last_delinq_none',          # has borrower had a delinquincy
            'last_major_derog_none',     # has borrower had 90 day or worse rating
            'open_acc',                  # number of open credit accounts
            'pub_rec',                   # number of derogatory public records
            'pub_rec_zero',              # no derogatory public records
            'revol_util']                # percent of available credit being used

In [7]:
X = df[features]
y = df['bad_loans']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42, 
                                                    stratify=y)

In [9]:
num = ['sub_grade_num', 'short_emp', 'emp_length_num', 'dti', 
       'payment_inc_ratio', 'delinq_2yrs', 'delinq_2yrs_zero',
       'inq_last_6mths', 'last_delinq_none', 'last_major_derog_none', 
       'open_acc', 'pub_rec', 'pub_rec_zero', 'revol_util']

cat = ['grade', 'home_ownership', 'purpose']

In [10]:
X_train.grade.value_counts()

B    3805
C    2960
A    2940
D    2231
E    1258
F     618
G     188
Name: grade, dtype: int64

In [11]:
X_train.home_ownership.value_counts()

RENT        6703
MORTGAGE    6200
OWN         1077
OTHER         20
Name: home_ownership, dtype: int64

In [12]:
X_train.purpose.value_counts()

debt_consolidation    7095
credit_card           1938
other                 1444
home_improvement       953
small_business         641
major_purchase         567
car                    389
wedding                256
medical                241
moving                 210
vacation               147
house                  119
Name: purpose, dtype: int64

In [13]:
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder

In [14]:
le_grade = preprocessing.LabelEncoder()
le_own = preprocessing.LabelEncoder()
le_purpose = preprocessing.LabelEncoder()

enc_grade = OneHotEncoder(sparse=False)
enc_own = OneHotEncoder(sparse=False)
enc_purpose = OneHotEncoder(sparse=False)

grade = le_grade.fit_transform(X_train.grade)
home_ownership = le_own.fit_transform(X_train.home_ownership)
purpose = le_purpose.fit_transform(X_train.purpose)

grade = enc_grade.fit_transform(grade.reshape(-1,1))
home = enc_own.fit_transform(home_ownership.reshape(-1,1))
purpose = enc_purpose.fit_transform(purpose.reshape(-1,1))

In [15]:
X_train = pd.concat([X_train[num],
                     pd.DataFrame(np.hstack((grade, home, purpose)))], axis=1)

In [16]:
comb = pd.concat([X_train, y_train], axis=1)

In [17]:
comb = comb.dropna()

In [18]:
comb.shape

(9806, 38)

In [19]:
y_train = comb['bad_loans']

In [20]:
X_train = comb[X_train.columns]

In [21]:
test_grade = le_grade.transform(X_test.grade)
test_home_ownership = le_own.transform(X_test.home_ownership)
test_purpose = le_purpose.transform(X_test.purpose)

test_grade = enc_grade.fit_transform(test_grade.reshape(-1,1))
test_home = enc_own.fit_transform(test_home_ownership.reshape(-1,1))
test_purpose = enc_purpose.fit_transform(test_purpose.reshape(-1,1))

In [22]:
X_test = pd.concat([X_test[num],
                     pd.DataFrame(np.hstack((test_grade, test_home, test_purpose)))], axis=1)

In [23]:
test_comb = pd.concat([X_test, y_test], axis=1)

In [24]:
test_comb = test_comb.dropna()

In [25]:
test_comb.shape

(1745, 38)

In [26]:
y_test = test_comb['bad_loans']

In [27]:
X_test = test_comb[X_test.columns]

In [28]:
from sklearn.metrics import confusion_matrix, accuracy_score

# Model 1:

In [29]:
clf = LogisticRegression()
clf.fit(X_train, y_train)
print(confusion_matrix(clf.predict(X_train), y_train))
print(accuracy_score(clf.predict(X_train), y_train))
print(confusion_matrix(clf.predict(X_test), y_test))
print(accuracy_score(clf.predict(X_test), y_test))

[[6909 2708]
 [  91   98]]
0.7145625127472975
[[1725    0]
 [  20    0]]
0.9885386819484241

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

# Model 2:

In [30]:
clf = GradientBoostingClassifier()
clf.fit(X_train, y_train)
print(confusion_matrix(clf.predict(X_train), y_train))
print(accuracy_score(clf.predict(X_train), y_train))
print(confusion_matrix(clf.predict(X_test), y_test))
print(accuracy_score(clf.predict(X_test), y_test))

[[6961 2613]
 [  39  193]]
0.7295533346930451
[[1724    0]
 [  21    0]]
0.9879656160458453

# Model 3:

In [31]:
clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)
print(confusion_matrix(clf.predict(X_train), y_train))
print(accuracy_score(clf.predict(X_train), y_train))
print(confusion_matrix(clf.predict(X_test), y_test))
print(accuracy_score(clf.predict(X_test), y_test))

[[7000    0]
 [   0 2806]]
1.0
[[1260    0]
 [ 485    0]]
0.7220630372492837

# Model 4:

In [32]:
clf = RandomForestClassifier()
clf.fit(X_train, y_train)
print(confusion_matrix(clf.predict(X_train), y_train))
print(accuracy_score(clf.predict(X_train), y_train))
print(confusion_matrix(clf.predict(X_test), y_test))
print(accuracy_score(clf.predict(X_test), y_test))

[[7000    0]
 [   0 2806]]
1.0
[[1697    0]
 [  48    0]]
0.9724928366762178

***